################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex/ad946acf-62d7-4b1f-872d-576dac78d2e2.vsidx
/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex/aed4ecab-499e-41a9-bb77-0b80244e6901.vsidx
/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex/7d45cfd7-8906-40e3-b956-53c185433956.vsidx
/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex/def42b7a-f335-4bd0-8168-71e3a27a4ab8.vsidx
/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex
