################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieSongSearch/.vs/MovieSongSearch/FileContentIndex
/MovieSongSearch/.vs/ProjectEvaluation
