html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #C6011F;
    font-family: 'Manrope', sans-serif;
    color: #f8f8ff;
}

footer {
    background-color: #F7F7F7;
}