html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #C6011F;
    color: #f8f8ff;
    font-family: 'Manrope', sans-serif;
    text-align: center;

}

footer {
    background-color: #F7F7F7;
    bottom: 0;
    width: 100%;
}


#companylogo {
    text-align: left;
}

#footerformat {
    background-color: #f8f8ff;
}  

#titleforpage {
    font-size: 70px;
    font-weight: bold;
}
