body {
    background-color: #C6011F;
    color: #F8F8FF;
}

a {
    color: #F8F8FF;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

footer {
    background-color: #F7F7F7;
}

.form-control {
    /*text-align: center;*/
   /* align-items: center;*/
    margin: 10px;
    padding: 10px;
}

h3 {
    padding: 20px;
}

form {
    margin: 0 auto;
    padding-left: 10rem;
}

#results {
    border: 1.5px solid white;
    border-radius:10px;
    padding: 12px;
    font-size:20px;
}

#searchbtn {
    background-color: #0e7c61;
}

