@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>


    <div class="text-center">
        <h2>Diagonized with Boredom?</h2><br />
        <h4>
            bore·​dom ˈbȯr-dəm:
        </h4>
        <h4>
            the state of being weary and restless through lack of interest
            leading to checking the refrigerator 14000 times every hour.
        </h4><br />
        <h2>Thus, we bring to you...</h2>
        <h4>**drumroll...**</h4>
        <br />
        <h1 class="display-4"><strong>Movies 'n' Music  Encyclopedia!!</strong></h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <h4>Find your new favourite movie or tune into your kind of music from our myriad of data!</h4><br />
        <h4><strong>Click on the above links to search!</strong></h4><br />



    </div>

</body>