@page
@model MovieSongSearch.Pages.PopularMovieApiModel
@using Popularity
@{
    int counter = 0;
}

<head>
    <link rel="stylesheet" href="~/css/Movie.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/css/mobile.css" type="text/css" media="screen and (max-device-width: 480px)" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 40px;
        }
    </style>
</head>


<div class="text-center">
    <h3>Popular movies as per 'The Movie DB'</h3>
    <table>
        <tr>
            <th>Movie</th>
            <th>Overview</th>
            <th>Popularity</th>
            <th>ReleaseDate</th>

        </tr>
        @if (Model.popMovie != null)
        {
            @foreach (Result item in Model.popMovie.Results)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Overview</td>
                    <td>@item.Popularity</td>
                    <td>@item.ReleaseDate</td>

                </tr>
                counter++;
                if (counter == 15)
                {
                    break;
                }
            }
        }
    </table>
</div>

